::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  right: 0;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ebeff1;
  border-radius: 8px;
  width: 8px;
  height: 8px;
}
